
extends templates/layout
block vars
  - var title = 'Invaders'

block content
  .start-screen
    p.
      → ----------- move right<br>
      ← ----------- move left<br>
      spacebar ---- shoot
    button.button Start
