doctype html
- var title = 'Project title'

block vars

html.no-js(lang="")
  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")

    link(rel="stylesheet", href="dist/styles/vendor.css")
    link(rel="stylesheet", href="dist/styles/main.css")

  body

    block content
    script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
    script(src="dist/scripts/vendor.js")
    script(src="dist/scripts/main.js")
    block scripts
